@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.hero_area {
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sub_page .hero_area {
  height: auto;
}

.sub_page .hero_area .header_section {
  -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25);
}

.header_section {
  background-color: #ffffff;
}

.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.contact_nav_container {
  padding: 10px 0;
}

.contact_nav_container .contact_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact_nav_container .contact_nav a {
  color: #ffffff;
}

.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link img {
  width: 22px;
  margin-right: 15px;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
  padding: 0px 25px;
  color: #fefeff;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.custom_menu-btn button {
  outline: none;
  border: none;
  background-color: transparent;
  }

.custom_menu-btn span {
  display: block;
  width: 35px;
  height: 5px;
  background-color: #252525;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_menu-btn .s-2 {
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  width: 20px;
}

.menu_btn-style {
  position: fixed;
  left: 22px;
  top: 15px;
}

.menu_btn-style button {
  margin-top: 12px;
  outline: none;
  border: none;
  background-color: transparent;
}

.menu_btn-style span {
  display: block;
  width: 35px;
  height: 5px;
  background-color: #252525;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.menu_btn-style button {
  -webkit-transform: translateX(14px);
          transform: translateX(14px);
}

.menu_btn-style button .s-1 {
  -webkit-transform: rotate(45deg) translateY(17px);
          transform: rotate(45deg) translateY(17px);
}

.menu_btn-style button .s-2 {
  -webkit-transform: translateX(-100px);
          transform: translateX(-100px);
}

.menu_btn-style button .s-3 {
  -webkit-transform: rotate(-45deg) translateY(-17px);
          transform: rotate(-45deg) translateY(-17px);
}

.navbar-expand-lg {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar-expand-lg .navbar-collapse {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(130, 196, 25, 0.95);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.overlay .closebtn {
  position: absolute;
  top: 0;
  right: 30px;
}

.overlay a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
  margin: 10px 0;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 1.5px solid #ffffff;
  border-radius: 5px;
  width: 190px;
}

.overlay a:hover, .overlay a.active {
  border-color: transparent;
  background-color: #ffffff;
  color: #000000;
}

.menu_btn-style {
  display: none;
}

.overlay-content {
  position: relative;
  top: 20%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu_width {
  width: 100%;
}

.scroll-y-hidden {
  overflow-y: hidden;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.custom_nav-container .nav_search-btn {
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  background-position: center;
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.navbar-brand span {
  font-weight: 700;
  color: #2d2d2c;
  font-size: 24px;
}

.custom_nav-container {
  z-index: 99999;
  padding: 25px 0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

/* .custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 55px;
} */

.user_option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user_option a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 25px;
  color: #000000;
}

.user_option a span {
  text-transform: uppercase;
  margin-right: 5px;
}


.slider_section {
  background-image: url(../../public/assets/images/b.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 82vh;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #ffffff;
}

.slider_section #customCarousel1,
.slider_section .carousel-inner,
.slider_section .carousel-item {
  height: 100%;
}

.slider_section #customCarousel1 {
  width: 100%;
  height: 100%;
}

.slider_section .box {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider_section .box a {
  display: inline-block;
  background-color: #7D3D26;
  color: #ffffff;
  padding: 12px 45px;
  border-radius: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  text-transform: uppercase;
}

.slider_section .box a:hover {
  background-color: #FFCAD4;
}

.slider_section .box .baby_detail {
  -ms-flex-item-align: start;
      align-self: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.slider_section .box .baby_detail .baby_text {
  padding: 25px 35px;
  background-color: #247BA0;
  margin-bottom: 15px;
}

.slider_section .box .baby_detail h2 {
  text-transform: uppercase;
}

.slider_section .box .care_detail {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.slider_section .box .care_detail .care_text {
  padding: 25px 35px;
  background-color: #247BA0;
  margin-top: 15px;
}

.slider_section .box .care_detail h2 {
  text-transform: uppercase;
}

.slider_section .carousel-indicators {
  left: initial;
  bottom: initial;
  top: 45px;
  right: 0;
  width: 50px;
  height: 115px;
  margin: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_section .carousel-indicators li {
  width: 20px;
  height: 20px;
  opacity: 1;
  margin: 0;
  border: none;
  background-color: transparent;
  background-color: #7D3D26;
}

.slider_section .carousel-indicators li.active {
  background-color: #252525;
}

.feature_section {
  background-color: #252525;
  position: relative;
}

.feature_section .row > div {
  padding: 0;
}

.feature_section .box {
  padding: 25px 25px;
  position: relative;
}

.feature_section .box .img-box {
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature_section .box .img-box img {
  width: 100%;
}

.feature_section .box .detail-box {
  color: #ffffff;
  margin-top: 10px;
}

.feature_section .box .detail-box h6 {
  text-transform: uppercase;
}

.feature_section .box > div {
  position: relative;
  z-index: 3;
}

.feature_section .box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #247BA0;
  z-index: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.feature_section .box:hover:before, .feature_section .box.active:before {
  background-color: #7D3D26;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 2;
}



@media screen and (max-width: 992px) {
  .contact_nav_container{
    display: none;
  }
  .slider_section {
    background-position-x: 70%;
  }
  .feature_section{
    width: 100%;
  }
  .feature_section h1, h4, p{
    display: none;
  }
}